<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700&subset=latin,greek,latin-ext" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="/assets/style.css">
  <link rel="icon" href="favicon.ico" type="image/x-icon">


  <title>{{ page.title }}</title>
</head>
<body>

  <div class="wrapper">
    <div id="header">
      <div class="brand">
        <h1>The Nerdery</h1>
        <p>a Makerspace at the <a class="psu" href="http://www.pdx.edu/accelerator">Portland State Business Accelerator (PSBA)</a></p>
      </div>
    </div>

    <div id="content">
      {{ content }}
    </div>

  </div>

  <div id="footer">
    <div class="site-info">
      <a class="totop" href="#">Back to top</a>
      <p>
        Read the <a href="https://github.com/psba/psba.github.io/wiki">Nerdery wiki</a>
      </p>
      <p>
        Visit our <a href="https://github.com/psba">github page</a>
      </p>
    </div>
  </div>
</body>
</html>
